<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Secrets.plist
   QuoteOfTheDay

   Created by José Luís on 24/05/2025.
   Copyright (c) 2025 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>EZc7XKzc+G8KJeJq274x3A==nijLudsyb8LC2YDx</string>
</dict>
</plist>
